@font-face { font-family: MesloLGL; src: url('MesloLGL-Regular.ttf'); }

*{font-family:MesloLGL;}

#gang:hover{
  color: #D4809D;
}

a:visited { text-decoration: none; color:#C9CACC; }
a:hover { text-decoration: none; color:#26A879; }
a:focus { text-decoration: none; color:#26A879; }
a:hover, a:active { text-decoration: none; color: #26A879; }


.page-wrap {
     width: 600px;
     margin: 0 auto;
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
    line-height: 20px;
}

body {
  margin: 0;
  background: #1D1F21;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.upwriting {
  color: #C9CACC;
}


.writing {
  color: #26A879;
  font-size: 14px;
  padding: 0px 200px 0px 0px;
}

.writing2 {
  color: #26A879;
  font-size: 14px;
  padding: 0px 200px 0px 0px;
  position: relative;
  bottom: 180px;
}


.container {
  padding: 50px 0px 50px 0px;
  height: 2.5rem;
}


.footer {
  color: #666666;
  width: 100%;
  height: 2.5rem;
  font-size: 10px;
}

.projectslinks {
    list-style-type: none;
    color: #C9CACC;
    position: relative;
    bottom: 185px;
  	line-height: 2.2rem;

}


#writinglinks {
    list-style-type: none;
    color: #C9CACC;
    padding: 0px 0px 0px 0px;
}


#writingdata {
    color: #666666;
}

#writingdata2 {
    color: #666666;
    padding-bottom: 50px;
}

.textexample {
    color: #C9CACC;
    padding-bottom: 50px;
}

#home {
 float: left;
 text-align: center;
}

#projects {
  float: left;
  text-align: center;
}

#writing {
  float: left;
  text-align: center;
}


.fab {
    vertical-align: middle;
    font-size: 16px;
}

.upwriting a {
    color: #C9CACC;
    text-decoration: none;
}

.writingdata a {
    color: #C9CACC;
    text-decoration: none;
}

.projectslinks a {
    color: #C9CACC;
    text-decoration: none;
}


.writinggeneral {
    padding-bottom: 200px;
}
