@font-face { font-family: MesloLGL; src: url('MesloLGL-Regular.ttf'); }
*{font-family:MesloLGL;}

#gang:hover{
  color: #D4809D;
}

a:visited { text-decoration: none; color:#C9CACC; }
a:hover { text-decoration: none; color:#26A879; }
a:focus { text-decoration: none; color:#26A879; }
a:hover, a:active { text-decoration: none; color: #26A879; }

#myVideo {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  position: fixed;
  width: auto;
  height: auto;
}


.page-wrap {
     width: 600px;
     margin: 0 auto;
}


html, body {
    max-width: 100%;
    overflow: auto;
    line-height: 20px;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

body {
	padding: 40px;
  overflow: auto;
	-webkit-box-shadow:
  inset #70777f 0 0 0 3px,
  inset #5d646a 0 0 0 1px,
  inset #545a60 0 0 0 5px,
  inset #4b5055 0 0 0 6px,
  inset #42464b 0 0 0 8px,
  inset #393c40 0 0 0 10px,
  inset #2f3336 0 0 0 11px,
  inset #26292b 0 0 0 12px;
	-moz-box-shadow:
  inset #70777f 0 0 0 3px,
  inset #5d646a 0 0 0 1px,
  inset #545a60 0 0 0 5px,
  inset #4b5055 0 0 0 6px,
  inset #42464b 0 0 0 8px,
  inset #393c40 0 0 0 10px,
  inset #2f3336 0 0 0 11px,
  inset #26292b 0 0 0 12px;
	box-shadow:
  inset #70777f 0 0 0 3px,
  inset #5d646a 0 0 0 1px,
  inset #545a60 0 0 0 5px,
  inset #4b5055 0 0 0 6px,
  inset #42464b 0 0 0 8px,
  inset #393c40 0 0 0 10px,
  inset #2f3336 0 0 0 11px,
  inset #26292b 0 0 0 12px;
}

body {
  margin: 0;
  background: #18181c;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.upwriting {
  color: #C9CACC;
}


.writing {
  color: #26A879;
  font-size: 14px;
  padding: 0px 200px 0px 0px;
}

.writing2 {
  color: #26A879;
  font-size: 14px;
  padding: 0px 200px 0px 0px;
  position: relative;
  bottom: 180px;
}


.container {
  padding: 50px 0px 50px 0px;
  height: 2.5rem;
}


.footer {
  color: #666666;
  width: 100%;
  height: 2.5rem;
  font-size: 10px;
}

.projectslinks {
    list-style-type: none;
    color: #C9CACC;
    position: relative;
    bottom: 185px;
  	line-height: 2.2rem;

}


#writinglinks {
    list-style-type: none;
    color: #C9CACC;
    padding: 0px 0px 0px 0px;
}


#writingdata {
    color: #666666;
}

#writingdata2 {
    color: #666666;
    padding-bottom: 50px;
}

.textexample {
    color: #C9CACC;
    padding-bottom: 50px;
}

#home {
 float: left;
 text-align: center;
}

#projects {
  float: left;
  text-align: center;
}

#writing {
  float: left;
  text-align: center;
}


.fab {
    vertical-align: middle;
    font-size: 16px;
}

.upwriting a {
    color: #C9CACC;
    text-decoration: none;
}

.writingdata a {
    color: #C9CACC;
    text-decoration: none;
}

.projectslinks a {
    color: #C9CACC;
    text-decoration: none;
}


.writinggeneral {
    padding-bottom: 200px;
}

/*Button aci */

.dropbtn {
  background-color: #18181c;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #18181c;
}

.dropdown {
  display: inline-block;
  position:absolute;
  top: 2%;
  right: 96%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #18181c;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: #C9CACC;
  padding: 15px 10px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/*Buttonimage*/
button {
  background-image: url(images/ham.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 20px;
  width: 20px;
  border: none;

}

button span {
  display: none;
}

    /* RAINBOWWWWWWWWWWWWWWWWWWW */
.writing {

   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 3s infinite;

  /* Internet Explorer */
  -ms-animation: rainbow 3s infinite;

  /* Standar Syntax */
  animation: rainbow 3s infinite;
}
.writing2 {

   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 3s infinite;

  /* Internet Explorer */
  -ms-animation: rainbow 3s infinite;

  /* Standar Syntax */
  animation: rainbow 3s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
  0%{color: #26A879;}
  10%{color: #0DBF89;}
	20%{color: #07C599;}
  30%{color: #01CBA9;}
	40%{color: #00CCB8;}
  50%{color: #00CCC5;}
	60%{color: #00CCB8;}
  70%{color: #01CBA9;}
  80%{color: #07C599;}
  90%{color: #0DBF89;}
	100%{color: #26A879;}
}

/* Internet Explorer */
@-ms-keyframes rainbow{
  0%{color: #26A879;}
  10%{color: #0DBF89;}
	20%{color: #07C599;}
  30%{color: #01CBA9;}
	40%{color: #00CCB8;}
  50%{color: #00CCC5;}
	60%{color: #00CCB8;}
  70%{color: #01CBA9;}
  80%{color: #07C599;}
  90%{color: #0DBF89;}
	100%{color: #26A879;}
}

/* Standar Syntax */
@keyframes rainbow{
  0%{color: #26A879;}
  10%{color: #0DBF89;}
	20%{color: #07C599;}
  30%{color: #01CBA9;}
	40%{color: #00CCB8;}
  50%{color: #00CCC5;}
	60%{color: #00CCB8;}
  70%{color: #01CBA9;}
  80%{color: #07C599;}
  90%{color: #0DBF89;}
	100%{color: #26A879;}
}
